@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@page "/"


<div class="main">
    <h1>Blazing Pizzas</h1>
    <ul class="pizza-cards">
        @foreach (var special in specials)
        {
            <li style="background-image: url('@special.ImageUrl')">
                <div class="pizza-info">
                    <span class="title">@special.Name</span>
                    @special.Description
                    <span class="price">@special.GetFormattedBasePrice()</span>
                </div>
            </li>
        }
    </ul>
</div>

@code{

    PizzaSpecial[]? specials = Array.Empty<PizzaSpecial>();

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<PizzaSpecial[]>(NavigationManager.BaseUri + "specials");
        specials ??= Array.Empty<PizzaSpecial>();
    }

}